# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# macOS system files
.DS_Store

